:root{
    --base-color: white;
    --base-variant: rgba(222, 222, 222, 0.721);
    --text-color: black;
    --secondary-text: rgb(48, 48, 48); 
    --primary-color: grey; 
    --accent-color: rgb(65, 116, 255); 
}
.darkmode{
    --base-color: rgb(40, 40, 40);
    --base-variant: rgba(47, 47, 47, 0.721);
    --text-color: rgb(255, 255, 255);
    --secondary-text: rgb(184, 241, 255); 
    --primary-color: rgb(37, 37, 37); 
    --accent-color: rgb(95, 170, 255); 

}
.cta-button{
    background-color: var(--accent-color);
}
#theme-switch{
    height: 0px;
    width:0px;
    padding:20;
    border-radius:50%;
    background-color: var(--base-variant);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 70px;
}
#theme-switch :last-child{
    display:none;
}
.darkmode #theme-switch :first-child{
    display: none;
}
.darkmode #theme-switch :last-child{
    display:block;
}
body{
    margin: 0px;

}
body {
  padding: 25px;
  background-color:var(--base-color);
  color: var(--text-color);
  font-size: 25px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;

}
.navbar ul{
    list-style-type: none;
    background-color: rgb(90, 90, 225);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: blue;
}
.navbar li{
    float: left;
}

.feedback {
    margin-top: 20px;
}

.feedback button {
    font-size: 18px;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.feedback button:hover {
    background-color: var(--accent-color);
    color: white;
}
.page-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.page-nav a {
    padding: 10px 15px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.page-nav a:hover {
    background-color: blue;
}

.gifcontainer {
    display: flex;
    justify-content: center;  /* centers horizontally */
}